@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes applications</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">I am happy to buils on visual studio</a>.</p>
</div>
